<!DOCTYPE html>
<html>
  <head>
    <title>Roboclaus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= link_to '🎅 Roboclaus', root_url, class: 'header-logo' %>
      <nav class="header-nav">
        <% if user_signed_in? %>
          <% if current_user.groups.one? %>
            <%= link_to "#{current_user.groups.first.name}'s Secret Santa", current_user.groups.first, class: 'header-nav__link' %>
          <% elsif current_user.groups.any? %>
            <%= link_to 'My groups', groups_path, class: 'header-nav__link' %>
          <% end %>
          <%= link_to 'My details', edit_user_registration_path, class: 'header-nav__link' %>
          <%= link_to 'Sign out', destroy_user_session_path, class: 'header-nav__link', data: { method: 'delete', confirm: 'Are you sure?' } %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'header-nav__link' %>
          <%= link_to 'Sign in', new_user_session_path, class: 'header-nav__link' %>
        <% end %>

      </nav>
    </header>
    <main>
      <% if notice %>
        <div class="alert">
          <strong>Hurrah!</strong> <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert--error">
          <strong>Oh no!</strong> <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </main>
    <footer class="footer">
      Stuck? Email <%= mail_to 'help@robocla.us' %>
      <br />
      &copy; 2020
    </footer>
  </body>
</html>
