<!DOCTYPE html>
<html>
  <head>
    <title>Roboclaus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Hello! I'm a friendly robot for arranging remote secret santas.">
    <meta property="og:site_name" content="Roboclaus">
    <meta property="og:title" content="Roboclaus">
    <meta property="og:description" content="Hello! I'm a friendly robot for arranging remote secret santas.">
    <meta property="og:image" content="<%= image_url 'share.png' %>">
    <meta property="og:url" content="<%= root_url %>">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Roboclaus">
    <meta name="twitter:description" content="Hello! I'm a friendly robot for arranging remote secret santas.">
    <meta name="twitter:image" content="<%= image_url 'share.png' %>">

    <link rel="icon" href="<%= image_path 'favicon.png' %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= link_to '🎅 Roboclaus', root_url, class: 'header-logo' %>
      <nav class="header-nav">
        <% if user_signed_in? %>
          <% if current_user.groups.one? %>
            <%= link_to "Your secret santa", current_user.groups.first, class: 'header-nav__link' %>
          <% elsif current_user.groups.any? %>
            <%= link_to 'My groups', groups_path, class: 'header-nav__link' %>
          <% end %>
          <%= link_to 'My details', edit_user_registration_path, class: 'header-nav__link' %>
          <%= link_to 'Sign out', destroy_user_session_path, class: 'header-nav__link', data: { method: 'delete', confirm: 'Are you sure?' } %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'header-nav__link' %>
          <%= link_to 'Sign in', new_user_session_path, class: 'header-nav__link' %>
        <% end %>

      </nav>
    </header>
    <main>
      <% if notice %>
        <div class="alert">
          <strong>Hurrah!</strong> <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert--error">
          <strong>Ho ho no!</strong> <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </main>
    <footer class="footer">
      <div>
        Stuck? Email <%= mail_to 'hohoho@robocla.us' %>
        <br />
        &copy;
        2020 <%= link_to 'Josh McMillan', 'https://twitter.com/jshmc', target: '_blank' %>
        &middot;
        Glorious illustration by Jenny Tattum
      </div>

      <div>
        <%= link_to 'GitHub', 'https://github.com/mcmillan/roboclaus', target: '_blank' %>
        &middot;
        <%= link_to 'Terms', terms_path, data: { turbolinks: false } %>
        &middot;
        <%= link_to 'Privacy', privacy_path, data: { turbolinks: false } %>
      </div>
    </footer>

    <script src="https://cdn.usefathom.com/script.js" data-site="SFPJXWBO" defer></script>
  </body>
</html>
